<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TabConfig</key>
	<array>
		<string>Home</string>
		<string>Todo</string>
		<string>Message</string>
		<string>Mine</string>
	</array>
	<key>HomeConfig</key>
	<dict>
		<key>Menu</key>
		<array>
			<dict>
				<key>menu_key</key>
				<string>dl_test</string>
				<key>menu_name</key>
				<string>测试</string>
				<key>menu_normal_img</key>
				<string></string>
				<key>menu_highlight_img</key>
				<string></string>
			</dict>
			<dict>
				<key>menu_key</key>
				<string>dl_test</string>
				<key>menu_name</key>
				<string>测试</string>
				<key>menu_normal_img</key>
				<string></string>
				<key>menu_highlight_img</key>
				<string></string>
			</dict>
			<dict>
				<key>menu_key</key>
				<string>dl_test</string>
				<key>menu_name</key>
				<string>测试</string>
				<key>menu_normal_img</key>
				<string></string>
				<key>menu_highlight_img</key>
				<string></string>
			</dict>
			<dict>
				<key>menu_key</key>
				<string>dl_test</string>
				<key>menu_name</key>
				<string>测试</string>
				<key>menu_normal_img</key>
				<string></string>
				<key>menu_highlight_img</key>
				<string></string>
			</dict>
			<dict>
				<key>menu_key</key>
				<string>dl_test</string>
				<key>menu_name</key>
				<string>测试</string>
				<key>menu_normal_img</key>
				<string></string>
				<key>menu_highlight_img</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
